.wrapper {
  height: auto;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 0.9rem;
}
