.nav {
  display: flex;
  gap: 10px;
  background-color: black;
  padding: 10px;
  align-items: center;
}
.link {
  text-decoration: none;
  color: whitesmoke;
}
.active {
  color: red;
}
.container {
  display: flex;
  justify-content: space-between;
}
.name {
  color: aliceblue;
}
