.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  width: 260px;
  background-color: lightgray;
  transition: background-color 0.3s ease;
}

.container:hover {
  background-color: #e0e0e0;
}

.text {
  display: flex;
  gap: 6px;
}

.button {
  cursor: pointer;
  color: black;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 0;
  border: 1px solid transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button:hover {
  background-color: #f44336;
  color: white;
}

.wrapper {
  display: flex;
  gap: 8px;
  padding: 4px;
  font-size: 16px;
  flex-direction: column;
}
