.container {
  margin-bottom: 40px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field {
  outline: none;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s, box-shadow 0.2s;
}

.field:focus {
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.7);
}

.button {
  width: 140px;
  height: 40px;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  background-color: #1976d2;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover,
.button:focus {
  background-color: gray;
  color: aliceblue;
}
